* {
  box-sizing: border-box;
}
/* Cards */
.posts-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border: 0px;
  border-radius: 1em;
  width: max-content;
  margin: 5em;
}
.card-post {
  /* max-width: 200px;
  max-height: 300px;
  min-width: 10px;
  min-height: 15px; */
  height: 20em;
  width: 15em;
  color: #caf0f8;
  /* border: 5px solid #dadada; */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  padding: 1em;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}
.leading-post {
  grid-area: 1/1/3/4;
  /* width: 100%; */
}
.post-1 {
  background-image: url("../images/oasis.jpeg")
}
.post-2 {
  background-image: url("../images/daft-punk.jpeg")
}

/* Media queries */
@media(max-width:50em) {
  body {
    font-size: 14px;
  }
  .posts-wrapper {
     display: grid;
     grid-template-columns: 1fr 1fr;
     /* grid-template-columns: 60px 60px; */
  }
}
@media(max-width:600px) {
  body {
    font-size: 14px;
  }
  .posts-wrapper {
     display: grid;
     grid-template-columns: 1fr;
     /* grid-template-columns: 60px 60px; */
  }
}
