/* Text */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
.content-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.author-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.author-info img {
  width: 40px;
  border-radius: 25px;
}
.albums-panel {
  max-width: 250px;
  margin-right: 5em;
  max-block-size: 20px;
}
.albums-panel img {
    width:  150px;
    height: 150px;
    object-fit: cover;
}
@media(max-width:600px) {
  .content-wrapper {
     display: grid;
     grid-template-columns: 1fr;
     /* grid-template-columns: 60px 60px; */
  }
  .albums-panel {
    display: flex;
  }
}
